.modal_add_student_FIO_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50vw;
    height: 50vh;

    font-family: Roboto, serif;
    gap: 10px;
    overflow: hidden;
}

.modal_add_student_some_enhancements {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    gap: 10px;
}

.modal_add_student_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.modal_add_student_active_btn, .modal_add_student_inactive_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    background: transparent;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.75);
}

.modal_add_student_inactive_btn {
    color: rgba(0, 0, 0, 1);
}

.modal_add_student_active_btn:hover, .modal_add_student_inactive_btn {
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}

.modal_add_student_input {
    width: 99%;
    outline: none;
    border-radius: 8px 8px 8px 8px;
    padding-left: 20px;
}

.modal_add_student_exit_btn_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.modal_add_student_exit_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;

    cursor: pointer;
    border-radius: 5px;
    background: #404040;
}

.modal_add_student_exit_btn:hover {
    background: #6b6b6b;
}

.modal_add_student_exit_btn:active {
    background: #404040;
}

.modal_add_students_section_field {
    display: flex;
    flex-direction: column;
    gap: 2px;
    overflow: auto;
}

.modal_add_students_lineINlist, .modal_add_students_lineINlist_chosen {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background: #e5e5e5;
    padding-left: 10px;
    cursor: pointer;
}

.modal_add_students_lineINlist:hover {
    background: #ababab;
}

.modal_add_students_lineINlist_chosen {
    background: #c5c5c5;
}

.modal_add_students_lineINlist:hover, .modal_add_students_lineINlist_chosen:hover {
    background: #ababab;
}

.modal_add_students_label {
    cursor: pointer;
    font-size: 1.1rem;
    font-family: Roboto, serif;
}

@media screen and  (min-width: 0px) {
    .modal_add_student_top {
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
    }
    .slash {
        display: none;
    }
    .modal_add_student_input {
        height: 24px;
    }
}

@media screen and  (min-width: 700px) {
    .modal_add_student_top {
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
    }
    .slash {
        display: inline-block;
    }
    .modal_add_student_input {
        height: 36px;
        border-radius: 8px 8px 8px 8px;
    }
}

@media screen and  (min-width: 1400px) {
    .modal_add_student_top {

    }
}