.journal_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 82vw;
}

.journal_input_borders {
    width: 30%;
}

.journal_table {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-top: 20px;
    margin-bottom: 10px;


    background: transparent;
    color: black;

    width: 100%;

    font-size: 1.2rem;
    font-family: Roboto, serif;

    border: 1px solid black;

    overflow: auto;
}

.journal_names {
    display: flex;
    flex-direction: column;
    width: 50%;
    overflow: auto;
}

.journal_marks {
    display: flex;
    flex-direction: column;
    width: 100%;

    overflow: auto;
}

.journal_columns {
    display: flex;
    flex-direction: row;
    width: 100%;


}

.journal_tabs {
    display: flex;
    flex-direction: row;
    /*justify-content: end;*/
    padding-left: 25%;
    width: 100%;
}

.journal_col {
    width: 60px;

    height: 80px;
    /*outline: 1px solid black;*/
    /*border-left:black solid 1px;*/
    /*border-bottom:black solid 1px;*/
    /*border-radius:5px;*/
}

.journal_testTitles {
    rotate: 90deg;
    width: 10px;
    /*width: 100px;*/

    white-space: nowrap;

}



.journal_row {
    display: flex;


    white-space: nowrap;
    overflow: hidden;
}

.journal_fio {

    min-width: 350px;
    padding: 10px;

    font-size: 1rem;
    /*border-top: 1px solid black;*/
    /*border-right: 1px solid black;*/
    color: white;
    border: 1px solid black;

}

.journal_mark_green, .journal_mark_red {
    font-size: 1rem;
    min-width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;

    border: 1px solid black;

    white-space: nowrap;
}

.journal_mark_green {
    color: green;
}

.journal_mark_red {
    color: red;
}

.journal_mark_green:hover, .journal_mark_red:hover {
    color: white;
    cursor: pointer;
}

.journal_modal {

}

@media screen and (min-width: 300px) {
    .journal_input_borders {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .journal_input_borders {
        width: 30%;
    }
}