.BlockWrapper {
    display: flex;
    flex-direction: column;
    margin: 16px;
    width: 100%;
    height: 100vh;
    gap: 36px;
}

.TaskContent {
    background: #F5F5F5;
    border: 1px solid black;

    border-radius: 25px;

    min-height: 720px;
    max-height: 1920px;
    height: auto;

    display: flex;
    flex-direction: column;

    padding: 100px;
    gap: 20px;

    font-family: Roboto, serif;

    color: black;
}

.BtnContent {
    background: #F5F5F5;
    border: 1px solid black;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-left: 30px;
    gap: 10px;


    min-height: 100px;
    color: black;
}

.BtnContent button {
    height: 60px;
    background: #5cff7d;
    border: none;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
}

.BtnContent button:hover {
    background: #339444;
    cursor: pointer;
}

.testPage_input {
    width: calc(100% + 200px);
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: Roboto, serif;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.testPage_input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

