.BlockWrapper {
    display: flex;
    flex-direction: column;
    margin: 16px;
    width: 100%;
    height: 100vh;
    gap: 36px;
}

.TaskContent {
    background: #F5F5F5;
    border: 1px solid black;

    border-radius: 25px;

    min-height: 720px;
    max-height: 1920px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

    font-family: Roboto, serif;

    color: black;
}

.BtnContent {
    background: #F5F5F5;
    border: 1px solid black;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 10px;


    min-height: 100px;
    color: black;
}

.btn_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 20px;
}

.BtnContent button {
    height: 60px;
    background: #5cff7d;
    border: none;
    font-size: 24px;

}

.BtnContent button:hover {
    background: #339444;
    cursor: pointer;
}

.testPage_input {
    width: calc(100% + 200px);
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: Roboto, serif;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.testPage_input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

@media screen and (min-width: 300px) {
    .BlockWrapper {
        margin: 8px;
    }

    .TaskContent {
        padding: 0;
    }

    .testPage_input {
        width: 100px
    }

    .BtnContent {
        background: #F5F5F5;
        border: 1px solid black;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding-left: 20px;
        gap: 10px;
        padding-right: 20px;

        min-height: 200px;
    }

    .btn_wrapper {
        flex-direction: column;
    }

    .BtnContent button {
        height: 60px;
        background: #5cff7d;
        border: none;
        font-size: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .BlockWrapper {
        margin: 16px;
    }

    .BtnContent {
        background: #F5F5F5;
        border: 1px solid black;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding-left: 30px;
        gap: 10px;


        min-height: 100px;
        color: black;
    }

    .btn_wrapper {
        flex-direction: row;
    }

    .testPage_input {
        width: calc(100% + 200px);
    }
}