.buttonNavigationLine {
    display: flex;
    width: 218px;
    height: 47px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position:relative;

    color: #FFF;
    text-align: center;
    font-family: Roboto Serif, serif;
    font-size: 20px;
    font-style: normal;

    text-decoration: none
}

.buttonNavigationLine:hover, .buttonNavigationLine.active {

    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 2px 7px 3px rgba(0, 0, 0, 0.25);
}

.buttonNavigationLine.active {
    background: rgba(63, 63, 63, 0.9);
}

.buttonNavigationLine:before {
    content: "";
    position: absolute;
    width: 100%;
    background: #6F4BFF;
    left: 0;
    height: 0;
    border-bottom: 1px solid #6F4BFF;

    bottom: 0;
    transition: all .1s;
    opacity: 1;
    will-change: height;

}

.buttonNavigationLine:hover:before {
    height: 12%;
}


@media screen and (min-width: 0) {
    .buttonNavigationLine {
        font-size: 0.8rem;
        width: 109px;
    }
}

@media screen and (min-width: 600px) {
    .buttonNavigationLine {
        width: 218px;
        font-size: 20px;

    }
}

@media screen and (min-width: 1400px) {
    .buttonNavigationLine {

    }
}