.DuoContentRightPart_Wrapper {
    display: flex;
    flex-direction: column;

    width: 29.5%;
    min-height: 100vh;
    border-radius: 0px 0px 8px 8px;

    background: #2F2F2F;
}

@media screen and (min-width: 0px) {
    .DuoContentRightPart_Wrapper {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .DuoContentRightPart_Wrapper {
        display: flex;
    }
}