.monoContentWrapper {
    width: 100%;
    min-height: 100vh;

    margin-top: 16px;

    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;

    background: #2F2F2F;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid rgba(255, 255, 255, 0.25);

    overflow: hidden;
}

@media screen and (min-width: 0px) {
    .monoContentWrapper {
        margin-top: 4px;

    }
}

@media screen and (min-width: 1200px) {
    .monoContentWrapper {
        margin-top: 10px;

    }
}