.wrapperNavigationLine {
    width: 100%;

    padding-top: 14px;
    padding-bottom: 14px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
    background: #2F2F2F;
    /*background: #9b2727;*/

    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
}

@media screen and (min-width: 0) {
    .wrapperNavigationLine {
        display: flex;
    }
}

@media screen and (min-width: 600px) {
    .wrapperNavigationLine {
        display: flex;

    }
}


@media screen and (min-width: 1400px) {
    .wrapperNavigationLine {
        display: flex;

    }
}

