.wrapperPersonalCabinet {
    width: 100%;
    min-height: 100vh;

    padding: 14px;

    display: flex;
    flex-direction: column;

    border-radius: 4px;
    box-shadow: 0px 4px 11px 14px rgba(0, 0, 0, 0.25);
    /*box-shadow: 0px 4px 11px 14px linear-gradient(80deg, #212121 30%, rgba(0, 0, 0, 0.25) 250%);*/
    background: rgba(52, 52, 52, 0.25);
    overflow: hidden;
}

@media screen and (min-width: 300px) {
    .wrapperPersonalCabinet {
        margin: 2px;
        padding: 2px;
    }
}

@media screen and (min-width: 1200px) {
    .wrapperPersonalCabinet {
        padding: 4px;
    }
}