.submitButton {
    background: #57A0D6;
    border: none;
    color: white;

    width: 640px;
    border-radius: 5px;
}

.submitButton:hover {
    background: #61dafb;
}

.submitButton:active {
    background: #408fa4;
}

.switchPageAuthBtn {
    background: none;
    border: 2px solid #000000; /* Параметры рамки */
    font-size: 14px; /* Размер текста */
    padding: 5px 20px; /* Поля вокруг текста */
}

.switchPageAuthBtn:hover {
    background: #A9A9A9;
}

.switchPageAuthBtn:active {
    background: #7c7c7c;
}
