.AuthMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #4E4E4E;
    width: 100%;
    font-size: 1.4rem;

    font-family: Roboto, serif;
}

.AuthPageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    padding: 20px;
    gap: 20px;
}

.AuthPageContentBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;

    background: #5b5b5b;
    border-radius: 10px;
    box-shadow: 0 12px 40px 0 rgba(0, 0, 0, .35);
}

.partUp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.form_style {
    width: 100%;
    gap: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 10%;
}

.inputStyle {
    border: none;
    border-radius: 5px;
    height: 35px;
    font-size: 1.2rem;
    width: 100%;
    padding: 2px 10px;
    outline: none;
}

.input_container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.submitButton {
    background: none;
    position: relative;
    border: none;
    color: white;
    font-family: Roboto, serif;
    font-size: 1.2rem;
    width: 50%;
    border-radius: 5px;
    transition: background .3s;
}

.submitButton:before {
    content: "";
    position: absolute;
    width: 100%;
    background : #fff;
    left: 0;
    top: 0;
    height: 1px;
    transition: all .1s;
    opacity: 1;
}

.submitButton:after {
    content: "";
    position: absolute;
    width: 100%;
    background : #fff;
    left: 0;
    bottom: 0;

    height: 1px;
    transition: all .1s;
    opacity: 1;

}

.submitButton:hover {
    background: #a1a1a1;
}

.submitButton:active {
    background: #408fa4;
}

.switchPageAuthBtn {
    border: none;
    background: none;
    font-size: 0.7rem;
    letter-spacing: 1px;
}

.switchPageAuthBtn:hover {
    text-decoration: underline;
    color: white;
}

.switchPageAuthBtnContainer {
    display: flex;
    justify-content: flex-end;
}

.btn-12 {
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    position:relative;
    font-family: Roboto, serif;
}

.btn-12:before {
    content: "";
    position: absolute;
    width: 100%;
    background : #fff;
    left: 0;
    height: 0;
    bottom: 0;
    transition: all .1s;
    opacity: 1;
    will-change: height;

}

.btn-12:hover:before {
    height: 12%;
}

/*.btn-12:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    width: 0;*/
/*    background : #fff;*/
/*    left: 0;*/
/*    height: 2px;*/
/*    bottom: 0;*/
/*    transition: all .3s;*/
/*    opacity: 1;*/
/*}*/

/*.btn-12:hover:before {*/
/*    width: 100%;*/
/*    left:0;*/
/*}*/




@media screen and  (min-width: 0px) {
    .btn_wrapper2 {
        width: 60%;
        padding-left: 12%;
    }

    .form_style {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 5%;
    }

    .switchPageAuthBtnContainer, .submitButton, .input_container{
        width: 100%;
    }

    .AuthPageContentBlock {
        width: 80%;
    }


 }

@media screen and  (min-width: 1200px) {

    .submitButton, .switchPageAuthBtnContainer, .input_container {
        width: 60%;

    }

    .AuthPageContentBlock {
        width: 40%;
    }


}