.PaginationButtonMainStyle {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #212121;
    border-radius: 10px;
    color: black;
    padding-top: 6px;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    user-select: none;
    font-weight: 800;

}


.PaginationButtonMainStyle.saved {
    background: #767676;
    color: white;
    font-weight: 800;

}

.PaginationButtonMainStyle.active {
    background: #212121;
    color: white;
    font-weight: 800;

}

@media screen and (min-width: 300px) {
    .PaginationButtonMainStyle {
        scale: 0.7;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    .PaginationButtonMainStyle {
        scale: 1;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}