.TestEditorWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: end;
    gap: 2px;
}

.TypeTestsMenu {
    background: #212121;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.TypeTestsMenu div {
    height: 50px;
    padding-top: 12px;
    cursor: pointer;

}

.TypeTestsMenu div:hover {
    background: #A9A9A9;
    transition: 0.2s;
}

.TestContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

