.TestPageLeftControlPanel {
    background: rgba(217, 217, 217, 0.8);

    display: flex;
    flex-direction: column;
    min-width: 130px;
    min-height: 875px;
    padding-top: 25px;
    padding-bottom: 25px;
    box-sizing: border-box;
    border: 1px solid #000000;
    align-items: center;

    font-family: Roboto, serif;
}

.nav_arrows {
    scale: 0.7;
}

.btn_yes, .btn_no {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: transparent;
    border-radius: 10px;
    width: 100px;
    font-family: Roboto, sans-serif;
    color: white;
}

.btn_yes {
    background: #4a9453;
}

.btn_no {
    background: #ff2828;
}

.btn_yes:hover {
    background: #29562d;
}
.btn_no:hover {
    background: #b22a2a;
}

.btn_yes:active {
    background: #4a9453;
    scale: 0.95;
}
.btn_no:active {
    background: #ff2828;
    scale: 0.95;
}

@media screen and (min-width: 300px) {
    .TestPageLeftControlPanel {
        min-width: 55px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .TestPageLeftControlPanel {
        min-width: 110px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

}