.NavigationPanelBackground {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #212121;
    /*background: linear-gradient(180deg, #212121 66.69%, #CBCBCB 100%);*/
    width: 25px;
    height: calc(100% - 50px);
    transition: 0.5s;
    align-items: center;
    color: white;

}

.NavigationPanelBackground div {
    opacity: 0;
    transition: 0.5s;
    margin-left: -135px;
}



.NavigationPanelBackground.active {
    background: #212121;
    width: 250px;
    min-height: calc(100% - 50px);
    align-items: center;
    transition: 0.5s;
}

.NavigationPanelBackground.active div {
    opacity: 1;
    margin-left: 0;
    cursor: pointer;
    width: 250px;
}
